
<div class="hero-unit mainbanner"> 
    <div id="keep_still">
    <h1 class="banner_font pull-left">hello.</h1>
    <p class="intro_font">
      This is my fake ass website I'm building. <br />So that I can <a href="#" class="intro-search">Practice Ruby on Rails</a> <br /><a href="#" class="intro-design">and web design</a>
    </p>
    <p class="intro_font">
      Join Us or Die <%= link_to "Sign up", signup_path, class: "intro-rawr" %>
    </p>
  </div>
</div>


<div class="live_feed">  
  <h2 class="live_feed_font"><div id="circle_left"></div>I'm Fucking....<span class="blue_font">Sleeping</span>.  Why Not Send Me An <span class="blue_font">Email?</span><div id="circle_right"></div></h2>
</div>  
<br /><br /><br /><br />

<div class="page">
  <div class="row">
    <div class="span4">
      <%= link_to image_tag('/assets/search-optimisation.png') %>
      <section>
        <h3 class="font_green">Search Engine Optimization</h3>
        <p>We love the web and lorem ipsum dolor sitta. We love the web and lorem ipsum dolor sitta ipsum dolor sitta. We love the web and lorem ipsum dolor sitta. We love the web and lorem ipsum dolor sitta.</p>
      </section>
    </div>
    <div class="span4">
      <%= link_to image_tag('/assets/web-design.png') %>
      <section><h3 class="font_pink">Web Design</h3>
        <p>We love the web and lorem ipsum dolor sitta. We love the web and lorem ipsum dolor sitta. We love the web and lorem ipsum dolor sitta. We love the web and lorem ipsum dolor sitta.</p>
      </section>
    </div>
    <div class="span4">
      <%= link_to image_tag('/assets/who-we-are.png') %>
      <section><h3 class="blue_font">Who We Are</h3>
        <p>We love the web and lorem ipsum dolor sitta. We love the web and lorem ipsum dolor sitta. We love the web and lorem ipsum dolor sitta. We love the web and lorem ipsum dolor sitta.</p>
      </section>
    </div>
  </div>

  <div class="grey_section">
    <div class="row">
    <div class="span5">
      <span class="bigWhite">We Optimize</span> I told all you lorem ipsum dolor sitta ipsum dolor sitta ipsum dolor sittaipsum dolor sitta  you get sloppy drunk I stay Whiskey neat.  My shit should be cancelled.  Freaks and Geeks.
      <br /><br />
      <a class="HyperlinkGreen" href="">click here to learn more</a>
    </div>
    <div class="span1 grey_centersection">
      <%= link_to image_tag('/assets/andSymobl.png') %>
    </div>
    <div class="span5 grey_rightsection">
     <span class="bigWhite2">We Design</span> the funk to fit the renegades of rage against the machine. Lorem ipsum dolor sitta Lorem ipsum dolor sitta Lorem ipsum dolor sitta Lorem ipsum dolor sitta Lorem ipsum dolor sitta Lorem ipsum dolor sitta
     <br /><br />
     <a class="HyperlinkPink" href="">click here to learn more</a>
    </div>    
    </div>    
  </div>
  <br /><br /><br /><br />

<div class="bigWhite_pink">My Happy Thoughts</div>
  <br />
  <div class="row">
    <div class="span5">
    <%= link_to image_tag('/assets/happy_thoughts.png'), :class => "float-left" %>
  </div>
    <%= link_to image_tag('/assets/_overlay_1801.png') %>
    <%= link_to image_tag('/assets/_overlay_1802.png') %> 
    <%= link_to image_tag('/assets/_overlay_1804.png') %> 
    <br /> <br /> <br />  
    <%= link_to image_tag('/assets/_overlay_1805.png') %>
    <%= link_to image_tag('/assets/_overlay_1806.png') %> 
    <%= link_to image_tag('/assets/_overlay_1803.png') %>      
</div>
  <br /><br /><br />
  <div class="bigWhite_blue">Why Choose Us?</div>
  <br /><br />
  <div class="row">
  <div class="span4 left_bar_padding">
    <div class="icon_image">
      <%= link_to image_tag('/assets/speech_bubbles.png') %>
    </div>
   
      <p><b>I am Zim!  Waffles Waffles Waffles.</b>  Lorem ipsum dolor sitta. Lorem ipsum dolor sitta. Lorem ipsum dolor sitta. Lorem ipsum dolor sitta. </p>
    

    <br />
    <div class="icon_image">
      <%= link_to image_tag('/assets/people_icon.png') %>
    </div>
   
      <p><b>I am Zim!  Waffles Waffles Waffles.</b>  Lorem ipsum dolor sitta. Lorem ipsum dolor sitta. Lorem ipsum dolor sitta. Lorem ipsum dolor sitta. </p>
    

    <br />

   <div class="icon_image">
      <%= link_to image_tag('/assets/heart_icon.png') %>
    </div>
   
      <p><b>I am Zim!  Waffles Waffles Waffles.</b>  Lorem ipsum dolor sitta. Lorem ipsum dolor sitta. Lorem ipsum dolor sitta. Lorem ipsum dolor sitta. </p>
    

    <br />
        
  </div>

  <div class="span4">
    <p><small>3RD JULY 2012</small> <br />
    <span class="blue_font">A New Kind of Star Wars Rules</span></p>
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 

    <br />  
    <hr>

    <p><small>2RD JUNE 2012</small> <br />
    <span class="blue_font">Holy Shit I Love Batman</span></p>
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 


  </div>

  <div class="span4 float-right">
    <p><small>3RD JULY 2012</small> <br />
    <span class="font_green">A New Kind of Star Wars Rules</span></p>
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 

    <br />  
    <hr>

    <p><small>2RD JUNE 2012</small> <br />
    <span class="font_green">Holy Shit I Love Batman</span></p>
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta. 
    I am Zim!  Waffles Waffles Waffles.  Lorem ipsum dolor sitta.   
  </div>


</div>
  <br />
  
    

</div>


 